$color-black-dark: #0E110D;
$color-green-dark: #005C3D;
$color-green-light: #009C68;
$color-black-light: #3D3D3D;
$color-grey-dark: #878787;
$color-grey-light: #CAC8C8;
$color-white-light: #F7F8F7;
$color-white: #FFFFFF;
    
$font-family: 'Montserrat', sans-serif;
$font-size-h1: 40px;
$font-size-h2: 35px;
$font-size-h3: 25px;
$font-size-text: 20px;
$font-size-names_of_card: 20px;
$font-size-text-in-c-btn: 15px;

$font-weight-h1-h2-h3: 700;
$font-weight-text: 400;
$font-weight-names_of_card: 600;
$font-weight-text-in-c-btn: 400;

$box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

a{
    color: $color-white;
    height: min-content;
    display: block;
}

* {
    scrollbar-color: $color-green-dark $color-grey-dark;
    scrollbar-width: thin;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: $color-green-dark;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background-color:  $color-grey-dark;
}



.main {
    background-color: $color-white;
    font-family: $font-family;
    font-size: $font-size-text-in-c-btn;
    font-weight: $font-weight-text;
}

._container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

._button-white{
    color: $color-green-light;
    background-color: white;
    width: 131px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid $color-green-light;
    transition: all .8s ease;
    &:hover{
        color: white;
        background-color: $color-green-light;
    }
}

._button-green{
    color: white;
    border-radius: 5px;
    transition: all .8s ease;
    background-color: $color-green-light;
    &:hover{
        background-color: $color-green-dark;
        cursor: pointer;
    }
}

._link-green{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $color-green-light;
    width: 131px;
    height: 38px;
    border-radius: 5px;
    transition: all .8s ease;
    &:hover{
        background-color: $color-green-dark;
    }
}

._link-white{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-green-light;
    background-color: white;
    border: 1px solid $color-green-light;
    border-radius: 5px;
    transition: all .8s ease;
    &:hover{
        background-color: $color-green-light;
        color: white;
    }
}
.hidden{
    display: none;
}