.learning-wrapper{
    background-color: $color-white;
    position: relative;
}

.learning_title{
    padding-top: 60px;
    h2{
        font-size: 45px;
        font-weight: 700;
    }
}
.learning_content{
    display: flex;
    ol{
        counter-reset: ol-numbers;
        li:last-child{
            padding-bottom: 60px;
        }
        li{
            position: relative;
            padding-left: 65px;
            &::before{
                counter-increment: ol-numbers;
                content: counter(ol-numbers) ".";
                position: absolute;
                left: 0;
                top: 45px;

                font-weight: 700;
                font-size: 60px;
                color: $color-green-dark;
            }
        }
    }
    .learning_image{
        padding: 67px 0 0 76px;
        img{
            max-width: 100%;
        }
    }
}

.learning_content-block{
    padding-top: 62px;
    h3{
        display: inline-block;
        font-weight: 700;
        font-size: 25px;
    }
    p{
        padding-top: 20px;
        font-weight: 400;
        font-size: 18px;
        max-width: 427px;
        line-height: 140%;
    }
}

.learning {

    &__after-lesson {
        max-width: 35%;
        max-height: max-content;
        position: absolute;
        top: 36%;
        left: 43%;
        z-index: 2;
        padding: 0 55px 55px 55px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        background-color: $color-white;
    }
}
.after-lesson {

    &__title {
        font-weight: 500;
        font-size: 20px;
        padding: 35px 0 18px 0;
    }

    &__container {
        
    }

    &__item {
        font-size: 15px;
        padding: 5px 0;
        position: relative;
        &::before{
            content:  "";
            position: absolute;
            right: 104%;
            bottom: 23%;

            background-image: url(~/components/learning/img/check-element.svg);
            background-repeat: no-repeat;
            width: 20px;
            height: 18px;
        }
        
    }
}
