.form {
    width: 100%;
    height: 100%;
    background-color: $color-black-dark;
    color: white;
    display: flex;
    padding-bottom: 110px;
    position: relative;
    &__container {
        display: flex;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(51,51,51,.9) url(/components/form/img/on.svg) center / 150px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all .5s ease 0s;
        }

        &._sending::after{
            opacity: 1;
            visibility: visible;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: $font-weight-h1-h2-h3;
        font-size: $font-size-h3;
        padding: 50px 0 25px 0; 
    }

    &__subtitle {
        font-size: 18px;
        line-height: 140%;
        padding-bottom: 52px;
        width: 54%;
    }

    &__send-form{
        display: flex;
        flex-direction: column;
        
        input:focus, textarea:focus{
            box-shadow: 0 0 15px #7a956b;
            
        }
        input,textarea{
            transition: all .5s ease 0s;
        }
    }

    &__input-name {
        border-radius: 5px;
        max-width: 560px;
        height: 50px;
        margin-bottom: 25px;
        padding-left: 30px;
        &._error{
            box-shadow: 0 0 15px red;
        }

        &._error::-webkit-input-placeholder {
            color: red;
        }

        &._error::-moz-placeholder {
            color: red;
        }
    }

    &__input-email {
        border-radius: 5px;
        max-width: 560px;
        height: 50px;
        margin-bottom: 25px;
        padding-left: 30px;
        &._error{
            box-shadow: 0 0 15px red;
        }

        &._error::-webkit-input-placeholder {
            color: red;
        }

        &._error::-moz-placeholder {
            color: red;
        }
    }

    &__textarea {
        max-width: 560px;
        height: 120px;
        padding: 17px 0 0 30px;
        border-radius: 5px;
        resize: none;
        border: none;
        outline: none;
        &._error{
            box-shadow: 0 0 15px red;
        }

        &._error::-webkit-input-placeholder {
            color: red;
        }

        &._error::-moz-placeholder {
            color: red;
        }
    }

    &__footer {
        padding-top: 55px;
        max-width: 560px;
        display: flex;
        justify-content: space-between;
    }

    &__icons {
        display: flex;
        align-items: center;
    }

    &__icon{
        &:nth-child(2){
            margin: 0 46px;
        }
        &:hover{
            cursor: pointer;
        }
    }

    &__button {
        width: 270px;
        height: 47px;
    }

    &__picture{
        display: flex;
        flex-direction: column;
        img{
            &:first-child{
                padding: 50px 0 30px 0;
            }
        }
    }
}
