@import '../../null.scss';
@import '../../index.scss';
@import '../../constants/root';
@import '../courses/components/chooseCourse/chooseCourse.scss';


.full-screen-wrapper {
    background-color: #000;
    height: 600px;
};
.full-screen {

		&_read-area {
            padding-top: 140px;
		}

		&__left-part {
            padding: 0;
		}

		&__text-big {
		}

		&__text-small {
		}

		&__link-size {
            width: 189px;
            height: 48px;   
		}

		&__right-part {
            padding-top: 121px;
		}

		&__flex-box {
		}

		&__span {
		}
}
.full-screen-content {
}
.choose-course {

		&__navigation {
            padding-top: 20px;
		}

		&__navigation-main {
            color: $color-white;
		}

		&__navigation-course {
            color: $color-white;
		}
}


.advantages {

    background-color: $color-white;

    &__card {

        &:nth-child(3) {
            padding-bottom: 0;
        }

        &:nth-child(4) {
            padding-bottom: 0;
        }
    }

}

.structure-lesson {

    background-color: $color-white-light;
    max-height: 776px;

    &__container {
        max-width: 1140px;
        margin: 0 auto;

        display: flex;
        flex-direction: row;
    }

    &__left-part {
        width: 50%;
        padding-left: 30px;
    }

    &__title {
        font-weight: $font-weight-h1-h2-h3;
        font-size: 45px;
        line-height: 55px;
        padding-top: 60px;
    }

    &__under-title {
        font-weight: 600;
        font-size: $font-size-h3;
        line-height: 30px;
        padding-top: 40px;
    }

    &__choose-data {
        display: flex;
    }

    &__data-number {
        padding-top: 20px;

        font-weight: 600;
        font-size: 200px;
        line-height: 244px;
        color: #005C3D;
    }

    &__data-number-text {
        padding: 72px 0 0 19px;
        max-width: 346px;
    }

    &__choose-data-heading {
        font-weight: 700;
        font-size: $font-size-h3;
        line-height: 30px;
    }

    &__choose-data-text {

        padding-top: 20px;
        font-weight: 400;
        font-size: $font-size-text;
        line-height: 130%;
    }

    &__arrow-right {
        width: 60px;
        height: 26px;
        cursor: pointer;
        float: right;
    }

    &__right-part {
        width: 50%;
        padding: 88px 0 50px 0;
    }

    &__slider-line {

       margin-top: 85px;
        width: 100%;
        height: 1px;
        background-color: $color-black-dark;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__slider-line-snake {
        width: 33%;
        height: 3px;
        background-color: #005C3D;
        position: relative;
    }

    &__container-for-slide-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


        overflow: hidden;
    }

    &__snake-slide-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        position: relative;
        right: 20px;
    }

    &__slider-img {
        padding-right: 10px;

    }

    &__slider-img {

        padding-top: 108px;
    }
}


.animation-img {
    &__1 {
        right: 1140px;
        transition: 0.5s;
    }

    &__2 {
       right: 570px;
       transition: 0.5s; 
    }

    &__3 {
        right: 0px;
        transition: 0.5s;
    }
}

.animation-slider {
    &__1 {
        left: 0px;
        transition: 0.5s;
    }

    &__2 {
       left: 190px;
       transition: 0.5s; 
    }

    &__3 {
        left: 380px;
        transition: 0.5s;
    }
}

._button-green-mod {
    color: white;
    border-radius: 5px;
    transition: all .8s ease;
    background-color: $color-green-light;
    &:hover{
        background-color: $color-green-dark;
        cursor: pointer;
    }
}