.full-screen-wrapper {
    background-color: #000;
    height: 600px;
};
.full-screen {

		&_read-area {
            padding-top: 140px;
		}

		&__left-part {
            padding: 0;
		}

		&__text-big {
		}

		&__text-small {
		}

		&__link-size {
            width: 189px;
            height: 48px;   
		}

		&__right-part {
            padding-top: 121px;
		}

		&__flex-box {
		}

		&__span {
		}
}
.full-screen-content {
}
.choose-header {
    &__navigation {
        display: flex;
        padding-top: 20px;
    }
    
    &__navigation-main {
        color: $color-grey-dark;
        font-weight: $font-weight-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
    
    &__navigation-img {
    }
    
    &__navigation-course {
        color: $color-grey-dark;
        font-weight: $font-weight-names_of_card;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}


.advantages {

    background-color: #FFFFFF;

    &__card {

        &:nth-child(3) {
            padding-bottom: 0;
        }

        &:nth-child(4) {
            padding-bottom: 0;
        }
    }

}

.structure-lesson {

    background-color: #F7F8F7;
    max-height: 776px;

    &__container {
        max-width: 1140px;
        margin: 0 auto;

        display: flex;
        flex-direction: row;

        @media (max-width: 999px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__left-part {
        width: 50%;
        padding: 0 20px;
        @media (max-width: 999px) {
            width: 100%;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        padding-top: 60px;
        @media (max-width: 999px) {
            font-size: 40px;
            line-height: normal;
            padding-top: 40px;
        }
        @media (max-width: 768px) {
            font-size: 35px;
            padding-top: 20px;
        }
        @media (max-width: 480px) {
            font-size: 30px;
        }
        @media (max-width: 360px) {
            font-size: 25px;
        }
    }

    &__under-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        padding-top: 40px;
        @media (max-width: 999px) {
            line-height: normal;
            padding-top: 20px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
        }
        @media (max-width: 480px) {
            font-size: 18px;
        }
        @media (max-width: 360px) {
            font-size: 16px;
        }
    }

    &__choose-data {
        display: flex;
    }

    &__data-number {
        padding-top: 20px;

        font-weight: 600;
        font-size: 200px;
        line-height: 244px;
        color: #005C3D;
        @media (max-width: 999px) {
            font-size: 170px;
            line-height: normal;
        }
        @media (max-width: 768px) {
            font-size: 140px;
        }
        @media (max-width: 480px) {
            font-size: 110px;
        }
        @media (max-width: 360px) {
            font-size: 80px;
        }
    }

    &__data-number-text {
        padding: 72px 0 0 19px;
        max-width: 346px;
    }

    &__choose-data-heading {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }

    &__choose-data-text {

        padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;

        @media (max-width: 999px) {
            font-size: 18px;
            line-height: normal;
        }
        @media (max-width: 768px) {
            font-size: 16px;
        }
        @media (max-width: 480px) {
            font-size: 15px;
        }
    }

    &__arrow-right {
        width: 60px;
        height: 26px;
        cursor: pointer;
        float: right;
    }

    &__right-part {
        width: 50%;
        padding: 88px 0 50px 0;
        background-color: #F7F8F7;
        @media (max-width: 999px) {
            width: 100%;
            padding: 0 0 50px 0;
        }
    }

    &__slider-line {

        margin-top: 85px;
        width: 100%;
        height: 1px;
        background-color: #0E110D;

        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 999px) {
            margin-top: 35px;
        }
    }

    &__slider-line-snake {
        width: 33%;
        height: 3px;
        background-color: #005C3D;
        position: relative;
    }

    &__container-for-slide-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 560px;


        overflow: hidden;
        @media (max-width: 999px) {
            margin: 0 auto;
        }
        @media (max-width: 635px) {
            width: 500px;
        }
        @media (max-width: 505px) {
            width: 400px;
        }
        @media (max-width: 405px) {
            width: 300px;
        }
    }

    &__snake-slide-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        position: relative;
        right: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__slider-img {
        // padding-right: 10px;

    }

    &__slider-img {
        padding-top: 108px;
        @media (max-width: 999px) {
            padding-top: 35px;
        }
    }
}


.animation-img {
    
    &__1 {
        right: 200%;
        transition: 0.5s;
        // @media (max-width: 999px) {
        //     right: 120%;
        //     transform: translateX(-50%);
        // }
    }

    &__2 {
        right: 100%;
        transition: 0.5s;
        // @media (max-width: 999px) {
        //     right: 70%;
        //     transform: translateX(-50%);
        // }
    }

    &__3 {
        right: 0;
        transition: 0.5s;
        // @media (max-width: 999px) {
        //     right: 50%;
        //     transform: translateX(-50%);
        // }
    }
}

.animation-slider {
    &__1 {
        transform: translateX(0);
        transition: 0.5s;
    }

    &__2 {
        transform: translateX(100%);
       transition: 0.5s; 
    }

    &__3 {
        transform: translateX(200%);
        transition: 0.5s;
    }
}

._button-green-mod {
    color: white;
    border-radius: 5px;
    transition: all .8s ease;
    background-color: #009C68;
    &:hover{
        background-color: #005C3D;
        cursor: pointer;
    }
}