.full-screen-wrapper{
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    background-color: #000000;
    padding-bottom: 10px;
}

.full-screen{
    max-width: 1160px;
    margin: 0 auto;
    
}

.full-screen-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.full-screen__left-part {
    max-width: 50%;
    height: 100%;
    color: $color-white;
    padding-top: 135px;
}

.full-screen_read-area {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.full-screen__text-big {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
}

.full-screen__text-small {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: $font-weight-text-in-c-btn;
    font-size: $font-size-text-in-c-btn;
    line-height: 18px;
}
.full-screen__right-part {
    flex-basis: 565px;
    height: 100%;
    padding-top: 68px;
}

.full-screen__flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.image-box-1 {
    width: 200px;
    border-radius: 100% 100% 100% 0;
    background-color: $color-green-light;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-screen__span {
    font-style: normal;
    font-weight: $font-weight-h1-h2-h3;
    font-size: 21.5537px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: $color-white;
}
.full-screen__link-size{
    width: 189px;
    height: 48px;
}

.image-box-2 {
    width: 350px;
    height: 150px;
    border-radius: 200px;
    background-image: url(~/components/fullScreen/img/img_1.png);
    margin: 0 0 15px 0;
}

.image-box-3 {
    width: 350px;
    height: 150px;
    border-radius: 200px;
    background-image: url(~/components/fullScreen/img/img_2.png);
    margin-bottom: 15px;
}
.image-box-4 {
    width: 200px;
    height: 150px;
    border-radius: 200px 200px 200px 0px;
    border-radius: 200px 0px 200px 200px;
    background-image: url(~/components/fullScreen/img/img_3.png);
    margin: 0 0 0 0;
}
.image-box-5 {
    width: 200px;
    height: 150px;
    border-radius: 200px 200px 200px 0px;
    border-radius: 200px;
    background-image: url(~/components/fullScreen/img/img_4.png);
}
.image-box-6 {
    width: 350px;
    height: 150px;
    border-radius: 0px 200px 200px 400px;
    background-image: url(~/components/fullScreen/img/img_5.png);
    margin-right: 0;
}

@media (max-width: 1060px) {

    .full-screen {

        &-wrapper {
            height: 568px;
        }
    
            &__right-part {
                flex-basis: 470px;
            }
    }
    
    .image-box-1 {
        width: 165px;
        height: 125px;
    }
    .image-box-2 {
        width: 290px;
        height: 125px;
    }
    .image-box-3 {
        width: 290px;
        height: 125px;
    }
    .image-box-4 {
        width: 165px;
        height: 125px;
    }
    .image-box-5 {
        width: 165px;
        height: 125px;
    }
    .image-box-6 {
        width: 290px;
        height: 125px;
    }
    
}

@media (max-width: 950px) {
    
    .full-screen-wrapper {
    }
    .full-screen {

        &__right-part {
            flex-basis: 353px;
        }
    
        &__text-big {
            font-size: 40px;
            line-height: normal;
        }
    
    }

    .image-box-1 {
        width: 125px;
        height: 95px;
    }
    .image-box-2 {
        width: 220px;
        height: 95px;
    }
    .image-box-3 {
        width: 220px;
        height: 95px;
    }
    .image-box-4 {
        width: 125px;
        height: 95px;
    }
    .image-box-5 {
        width: 125px;
        height: 95px;
    }
    .image-box-6 {
        width: 220px;
        height: 95px;
    }

}

@media (max-width: 746px) {
   
    .full-screen {

            &-wrapper {
                // height: fit-content;
                // padding-bottom: 50px;
            }

            &__left-part {
                max-width: 100%;
                padding-top: 50px;
            }
    
            &__text-big {
                font-size: 50px;
                letter-spacing: 16px;
            }
    
            &__right-part {
                display: none;
            }

            &-content {
                display: block;
            }
    }

}

@media (max-width: 670px) {
   
    .full-screen {
    
            &__text-big {
                font-size: 30px;
            }

    }
}

@media (max-width: 496px) {
 
    .full-screen {

        &__left-part {
            max-width: 100%;
        }

        &__text-big {
            font-size: 40px;
            letter-spacing: 0px;
        }

        &__text-small {
            font-size: 14px;
        }

        &__right-part {
            display: none;
        }

        &-content {
            display: block;
        }

        &__link-size {
            width: 100%;
        }
    }
}

@media (max-width: 373px) {
    
    .full-screen {

        &__left-part {
            max-width: 100%;
        }

        &__text-big {
            font-size: 35px;
            letter-spacing: 0px;
        }

        &__text-small {
            font-size: 14px;
        }

        &__right-part {
            display: none;
        }

        &-content {
            display: block;
        }

        &__link-size {
            width: 100%;
        }
    }
}