@import '../../../../constants/_root';

.full-screen{
    display: flex;
    flex-direction: column;

}

.choose-course {
    width: 100%;
    // height: 245px; // из-за padding-top увеличили на 10px
    background-color: $color-white;
    
}

.choose-course {
    padding: 0 10px;
    &__navigation {
        display: flex;
    }

    &__navigation-main {
        color: $color-grey-dark;
        font-weight: $font-weight-text;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }

    &__navigation-img {
    }

    &__navigation-course {
        color: $color-grey-dark;
        font-weight: $font-weight-names_of_card;
        font-size: 14px;
        line-height: 17px;
    }

    &__title {
        margin-top: 73px;

        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        @media (max-width:999px) {
            margin-top: 50px;
            font-size: 35px;
        }
        @media (max-width:768px) {
            margin-top: 40px;
            font-size: 30px;
            line-height: normal;
        }
        @media (max-width:480px) {
            margin-top: 30px;
            font-size: 25px;
        }
        @media (max-width:360px) {
            font-size: 20px;
        }

    }

    &__search {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        position: relative;
        @media (max-width:768px) {
            margin: 20px 0;
            justify-content: center;
        }
        @media (max-width:500px) {
            justify-content: start;
        }
    }

    &__input {
        width: 402px;
        height: 50px;

        padding-left: 30px;

        border: 1px solid #000000;
        border-radius: 5px 0px 0px 5px;

        &::placeholder{
            width: 176px;
            height: 15px;
            

            font-weight: 400;
            font-size: 12px;
            line-height: 15px;

            color: $color-grey-dark;
        }

        @media (max-width:999px) {
            width: 40%;
        }
        @media (max-width:768px) {
            width: 65%;
        }

        @media (max-width:360px) {
            padding-left: 10px;
        }

    }

    &__btn {
        width: 158px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 35%;

        color: #fff;

        // transform: translateX(-5px);

        background: $color-green-light;
        border-radius: 0px 5px 5px 0px;
        transition: all .3s ease;

        &:hover{
            background-color: $color-green-dark;
        }

        @media (max-width:768px) {
            left: 64%;
        }
        @media (max-width:500px) {
            width: 100px;
        }
    }

    &__sort {
        height: 50px;

        display: inline-flex;
        
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        position: relative;
        
        @media (max-width:768px) {
            display: none;
        }

       & img {
        cursor: pointer;
       }

       & p {
        cursor: pointer;
       }
    
    }

    &__choose-method {
        cursor: pointer;
    }

    &__list-methods {
        color: $color-grey-dark;
    }

    &__list-img {
        width: 14px;
        height: 7px;
        transition: all .3s ease;
    }
}

.course-list {
    // height: 1393px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 10px 0 10px;

    background-color: $color-white;

    @media (max-width:999px) {
        display: block;
    }

    @media (max-width:768px) {
        padding: 0 10px;
    }

    &__title{
        @media (max-width:999px) {
            font-size: 18px;
            padding: 15px 0 10px 0;;
        }
        @media (max-width:768px) {
            font-size: 16px;
        }
        @media (max-width:480px) {
            font-size: 15px;
        }
    }


    &__filters {
        width: 270px;
        height: 421px;
        @media (max-width:999px) {
            display: none;
        }
    }

    &__filter-main {
        font-weight: 600;
        font-size: $font-size-text;
        line-height: 24px;
    }

    &__filters-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        max-height: 900px;

    }

    &__item-solo {
        font-weight: 600;
        font-size: $font-size-text;
        line-height: 24px;
    }

    &__item-solo-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        font-weight: 600;
        font-size: $font-size-text;
        line-height: 24px;

        cursor: pointer;
    }

    &__items-checkbox {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        color: $color-grey-dark;

        margin: 20px 0 20px 20px;

        overflow: hidden;
        max-height: 0;

        transition: all .3s ease;
        
    }

    &__items-for-solo {
        padding-top: 10px;

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;

        & label {
            display: block;
            width: 100%;
        }

        

    }

    &__img {
        width: 18px;
        height: 9px;
        transition: all .3s ease;
    }

    &__btn {
        margin-top: 50px;
        width: 158px;
        height: 50px;

        background-color: $color-green-light;

        color: $color-white;
        border-radius: 5px;

        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        transition: all .3s ease;

        &:hover{
            background-color: $color-green-dark;
        }

    }

    &__reset {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        margin-top: 30px;

        text-decoration-line: underline;
        cursor: pointer;
    }

    &__cards{
        width: 767px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width:768px) {
            width: 90%;
        }

        @media (max-width:500px) {
            flex-direction: column;
        }
    }

    &__size-lesson{
        width: 366px;
        height: fit-content;
        margin: 0;

        img{
            @media (max-width:768px) {
                padding-bottom: 0;
            }
        }
        @media (max-width:999px) {
            width: 49%;
        }

        @media (max-width:500px) {
            width: 100%;
        }
    }

    &__price-lesson{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        font-size: 15px;
        line-height: 18px;
        line-height: 100%;
        

        width: 100px;
        height: 36px;

        & span {
            font-weight: 400;
        }
    }
    &__right-part-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 110px;

        @media (max-width:999px) {
            margin-bottom: 90px;
        }
        @media (max-width:768px) {
            margin-bottom: 70px;
        }
        @media (max-width:480px) {
            margin-bottom: 50px;
        }
        @media (max-width:360px) {
            margin-bottom: 30px;
        }
    }

    &__number-page{
        display: flex;
        gap: 15px;
        margin-top: 50px;

        li{
            cursor: pointer;
            font-size: 18px;
            font-weight: 600;
            &:hover{
                color: $color-green-light;
            }
        }
    }

    &__footer{
        @media (max-width:768px) {
            flex-direction: column;
            padding: 0;
            div{
                width: 100%;
                
            }
            a{
                margin: 10px auto 10px auto;

            }
        }
    }

}

.card { //колхоз
    animation: visible .5s linear forwards;
    
    &:nth-last-child(-n + 3) {
        border-bottom: none;
    }
}

._button-green{ // тоже чистый колхоз
    
    border-radius: 0 5px 5px 0;
    
}

.full-screen-wrapper { // мисье колхозье
    background-color: #fff;
}

.footer{
    // height: 345px;
}

.drop-list {
    position: absolute;
    top: 312px;
    right: 183px;

    background-color: $color-white;


    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 160px;

    & span {
        height: 38px;
        border: 1px solid $color-grey-dark;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 15px;
    }

    & span:nth-child(1) {
        border-bottom: none;
    }

    & span:nth-child(3) {
        border-top: none;
    }
}

//animation

.animation-left-block {
    max-height: 500px;
    transition: all .3s ease;
};

.animation-rotate {
    transform: rotate(180deg);
    transition: all .3s ease;
}

.sort-menu {
    width: 160px;
    max-height: 0px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 40px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;

    transition: all .3s ease;
    &__elem-container {
        height: 38px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;

        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #878787;

        &:nth-child(2) {
            border-top: 1px solid #878787;
            border-bottom: 1px solid #878787;
        }
    }
}

.super-animation {
    border: 1px solid #878787;
    max-height: 83px;
    transition: all .3s ease;

    cursor: pointer;
}

._li-active{
    color: $color-green-dark !important;
    text-decoration: underline;
}

@keyframes visible {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}