.programms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $color-white;
    .programms__title{
        padding: 60px 0 45px 0;
        font-weight: $font-weight-h1-h2-h3;
        font-size: 45px;
    }
    .programms__questions{
        max-width: 691px;
        line-height: 145%;
        font-size: 18px;
        padding-bottom: 50px;
    }
    .programms__cards{
        display: flex;
        .programms__card{
            max-width: 37%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px 21px;
            margin: 0 10px;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            transition: all .5s ease;
            &-title{
                font-size: $font-size-names_of_card;
                font-weight: $font-weight-names_of_card;
                padding-bottom: 20px;
            }
            img{
                max-width: 100%;
                padding-bottom: 30px;
            }
            &-text{
                line-height: 140%;
                padding-bottom: 38px;
            }
            &-footer{
                display: flex;
                justify-content: space-between;
                .programms__card-cost{
                    max-width: 88px;
                    span{
                        font-weight: 700;
                    }
                }
            }
            &:hover{
                box-shadow: $box-shadow;
            }
        }
    }
    &__link-size{
        margin: 41px auto 60px;
        width: 366px;
        height: 60px;
    }
}