.header {
    background-color: #000;
    max-width: 100%;
    height: 80px;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
    align-items: center;
}

.header__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.header__span-green {
    color: $color-green-dark;
}

.header__medium-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    a:nth-child(2) {
        padding: 0 50px;
    }
    a{
        transition: all .3s ease 0s;
    }
    a:hover{
        color: $color-green-light;
    }
}

.header__personal-cabinet {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    a{
        transition: all .3s ease 0s;
    }
    a:hover{
        color: $color-green-light;
    }
}

.header__backdropfilter {
    display: none;
}


@media (max-width: 1200px) {

    .header {

        padding: 0 20px;
    }
}

@media (max-width:768px) {
    .header {

		&__medium-text {
            display: none;
		}

		&__personal-cabinet {
            display: none;
		}

        &__cross {
            width: 30px;
            height: 22px;
            position: relative;
            z-index: 100;

            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                width: 100%;
                height: 3px;
                background-color: #fff;
                transition: all .5s;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: #fff;
                transition: all .5s;
            }

            .header__cross-line {
                display: block;
                width: 100%;
                height: 3px;
                background-color: #fff;
                position: absolute;
                top: 50%;
                transform: translateY(-1.5px);
                transition: all .5s;
                
            }
        }

        &__cross-click {

            &::before {
                transform: rotate(45deg);
                transition: all .5s;
            }

            &::after {
                display: none;
                transition: all .5s;
            }

            .header__cross-line-click {
                top: 0;
                transform: translateY(-.5px) rotate(-45deg);
                transition: all .5s;
            }
        }

        &__menu-burger {
            width: 360px;
            height: 341px;
            background-color: #000;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
            transition: opacity ease .5s;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            backdrop-filter: blur(3px);
        }

        &__menu-box {
            display: flex;
            flex-direction: column;
            gap: 30px;
            font-size: 20px;
        }

        &__menu-burger-link {

        }

        &__backdropfilter {
            width: 100%;
            height: 100vh;
            position: absolute;
            display: block;
            display: flex;
        }
}

}

@media (max-width: 480px) {
    .header {
        height: 60px;
    }
}

.hidden-abs {
    position: absolute;
    display: none;
}

.opacity-see {
    opacity: 1;
    transition: all .5s;
}

.blur-fon {
    backdrop-filter: blur(3px);
}

.scroll-none {
    overflow: hidden;
}